.content {
    background: #73a600;
    padding-top: 10px;
    padding-bottom: 10px;
}



.content div h1 {
    text-align: center;
    font-size: 35px;
    color: #00a6ff;
    transition: 0.3s;
}


.content div:hover h1{
    font-size: 40px;
    color: #000;
}

.content div:hover{
    background: #00ffac;
    border-radius: 10px;
    transform: translateY(-10px);
}


@media only screen and (min-width: 830px) {
    .content div img {
        width: 250px;
        height: auto;
        display: block;
        margin: 20px auto;
        border-radius: 15px;
        border: #ff87ad 3px solid;
        transition: 0.4s;
        transform: rotate(2deg) scale(0.9);
    }
    .content div {
        height: 400px;
        transition: 0.3s;
    }
    .content div i {
        font-size: 30px;
        position: relative;
        right: 13px;
        bottom: 23px;
        float: right;
        transition: 0.6s;
        transform: scale(0);
    }
}
@media only screen and (max-width: 829px) {
    .content div img {
        width: 180px;
        height: auto;
        display: block;
        margin: 20px auto;
        border-radius: 15px;
        border: #ff87ad 3px solid;
        transition: 0.4s;
        transform: rotate(2deg) scale(0.9);
    }
    .content div {
        height: 400px;
        transition: 0.3s;
        position: relative;
    }
    .content div i {
        font-size: 30px;
        position: relative;
        right: 8px;
        bottom: -45px;
        float: right;
        transition: 0.6s;
        transform: scale(0);
    }
}
@media only screen and (max-width: 599px) {
    .content div img {
        width: 230px;
        height: auto;
        display: block;
        margin: 20px auto;
        border-radius: 15px;
        border: #ff87ad 3px solid;
        transition: 0.4s;
        transform: rotate(2deg) scale(0.9);
    }
    .content div {
        height: 400px;
        transition: 0.3s;
    }
    .content div i {
        font-size: 30px;
        position: relative;
        right: 13px;
        bottom: 5px;
        float: right;
        transition: 0.6s;
        transform: scale(0);
    }
}

.content div:hover i{
    transform: scale(1);
    color: red;
}




.content div:hover img:hover{
    transform: rotate(-2deg) scale(1.05);
}
.content div:hover img{
    transform: rotate(0) scale(1);
}



.hiden {
    display: none;
}

.all_selecter > div {
    height: 450px;
    padding-top: 10px;
    padding-left: 20px;
}

.thumbnail_animal > div {
    width: 250px;
    border: #00a6ff 2px solid;
    border-radius: 13px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.thumbnail_animal {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_animal h1 {
    font-size: 35px;

}
.btn_select_container button a {
    color: white;

}

.btn_select_container button:hover{
    opacity: 1;
}
.btn_select_container button {
    width: 200px;
    height: 50px;
    margin-right: 20px;
    border-radius: 8px;
    background: #f86631;
    font-size: 23px;
    border: none;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.4s;
    color: white;

}
.btn_select_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding-top: 20px;
    padding-left: 20px;
}

.back_container {
    height: 50px;
}

.back_container button:hover{
    background: #00ffd9;
}

.back_container button {
    border: #00a6ff 2px solid;
    width: 120px;
    height: 40px;
    margin: 10px auto 0 auto;
    display: block;
    border-radius: 8px;
    background: none;
    transition: 0.4s;
    cursor: pointer;
}
.all_selecter {
    margin-top: 10px;
}

.all_selecter > div {
    transition: 0.4s;
    border-radius: 18px;
}
.all_selecter > div:hover{
    transform: translateY(-10px);
    background:linear-gradient(to bottom right, #d4ffcc, #ffffce);
}


.title_animal {
    text-align: center;
}