.menu_packages_page {
    height: 50px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center
}

.menu_packages_page button {
    width: 100px;
    cursor: pointer;
    height: 35px;
    border-radius: 8px;
    margin: 0 3px;
    border: #00a6ff 2px solid;
    background: none;
    transition: 0.3s;
    overflow: hidden;
}

.menu_packages_page button:hover {
    background: #00ffd9;
    font-size: 92%;
}

::-webkit-scrollbar {
    display: none;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.form_login {
    background: rgba(255, 255, 255, 0.5);
    max-width: 500px;
    height: 650px;
    margin: 60px auto;
    overflow: hidden;
    border: #00a6ff 3px solid;
    border-radius: 20px;
}

.bottom_title {
    padding: 0 20px;
    width: 50%;
    transition: 0.4s;
    height: 7px;
}

.bottom_title hr {
    background: #fff;
    height: 3px;
    border: none;
    clear: left;
}

.form_login .page {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    width: 50%;
    float: left;
}

.form_login .page h2 {
    font-size: 30px;
}

#user_login {
    margin-top: 70px;
    transition: 0.5s;
}

#user_login form {
    width: 100%;
    text-align: center;
}

#user_login form button {
    width: 120px;
    margin: 10px auto 10px auto;
    height: 35px;
    border: #00a6ff 2px solid;
    display: block;
    border-radius: 8px;
    outline: none;
}

#user_login form input {
    display: block;
    margin: 10px auto;
    width: 80%;
    height: 35px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
    outline: none;
}


#user_register {
    transform: translateX(100%);
    transition: 0.5s;
    margin-top: 70px;
}


#user_register form input {
    margin: 10px auto;
    width: 80%;
    height: 35px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
    outline: none;
    display: block;
}


#user_register form button {
    width: 120px;
    margin-top: 20px;
    height: 35px;
    border: #00a6ff 2px solid;
    border-radius: 8px;
    outline: none;
}


#user_register select {
    outline: none;
    width: 120px;
    height: 35px;
    border: #00a6ff 2px solid;
    border-radius: 8px;
}

#user_register form {
    width: 100%;
    text-align: center;
}

#login_title {
    cursor: pointer;
}

#register_title {
    cursor: pointer;
}

.error {
    color: #f31072;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}




.event div img {
    border: #00a6ff 2px solid;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
}



.title_courses button {
    width: 30px;
    height: 30px;
    background: none;
    border: black 1px solid;
    border-radius: 3px;
}













@media only screen and (min-width: 800px) {
    .title_courses input {
        width: 300px;
        height: 30px;
        border-radius: 3px;
        padding-left: 10px;
        border: black 1px solid;
    }
    .title_courses h1 {
        margin-right: 10px;
        font-size: 50px;
    }
    .all_packages > div > div {
        float: left;
        width: 30%;
        margin: 1.38%;
        height: 300px;
        border: none;
        border-radius: 15px;
        transition: 0.4s;
        -webkit-transition: 0.6s;
    }
    .packages_1container{
        height: 1000px;
    }
}
@media only screen and (max-width: 799px) {
    .title_courses h1 {
        margin-right: 10px;
        font-size: 25px;
    }
    .all_packages > div > div {
        float: left;
        width: 47%;
        margin: 1.5%;
        height: 300px;
        border: none;
        transition: 0.4s;
        border-radius: 15px;
        -webkit-transition: 0.6s;
    }
    .title_courses input {
        width: 200px;
        border-radius: 3px;
        border: black 1px solid;
        height: 30px;
        padding-left: 10px;
    }
    .packages_1container{
        height: 1580px;
    }
}













.all_packages > div > div:hover{
    transform: translateY(-10px);
    background-image: linear-gradient(to bottom right, #e0ffe0, #fff5c5);
    box-shadow: black 1px 2px 3px;
}


.all_packages > div > div:hover > div >.div{
    transform: scale(1.03);
}

.all_packages >div > div > div > .div {
    transition: 0.6s;
    border-radius: 8px;
    float: left;
    margin-right: 10px;
    height: 110px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 10px;
}

.select_study button {
    width: 40%;
    height: 30px;
    background: none;
    color: white;
    background: #ff5c20;
    border-radius: 5px;
    transition: 0.3s;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    border: none;
    opacity: 0.7;
}

.select_study button:hover {
    opacity: 1;
    color: #00ffd9;
}


@media only screen and (max-width: 599px) {
    .event {
        height: 90px;
        overflow: hidden;
    }
    .fa-sort-desc {
        display: block;
    }
}
@media only screen and (min-width: 600px) {
    .fa-sort-desc {
        display: none;
    }
    .event {
        height: 1156px;
        overflow: scroll;
    }
}


.fa-caret-up {
    display: none;
}

.page_remote {
    display: flex;
    justify-content: center;
    align-items: center;
}


.page_remote button i {
    font-size: 30px;
}



.page_remote button:hover{
    background: #00ffd9;
}
.page_remote button {
    transition: 0.4s;
    border-radius: 5px;
    border: #00a6ff 2px solid;
    background: none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
}