<!doctype html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="https://cdn2.vectorstock.com/i/1000x1000/65/76/kids-zone-colorful-banner-cartoon-letters-and-vector-18026576.jpg"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Style/index.css">
    <title>Home page | Kids zone</title>
</head>
<body>
<div class="header col-12 row">

    <div class="logo col-6 col-s-6">
        <a href="/">
            <h1 class="row"><span class="text_color_red">K</span><span class="text_color_green">I</span><span
                        class="text_color_blue">D</span><span class="text_color_orange">S</span><label>- zone</label></h1>
        </a>
        <i class="fa fa-bars navbar-icon" aria-hidden="true"></i>
    </div>
    <!--    menutop    -->
    <%- include('html/include/menu.ejs') %>
</div>
<hr class="bam">
<div class="container">
    <div class="view col-12 col-s-12">
        <div class="col-s-12 col-10 items row">
            <div class="col-s-12 col-6">
                <div class="col-11 background_color_red">
                    <div class="col-11 ">
                        <a href="/learn123"><img class="rotate-left" src="Img/count123-100.jpg"></a>
                    </div>
                </div>
            </div>
            <div class="col-s-12 col-6">
                <div class="col-11 background_color_green">
                    <div class="col-11 ">
                        <a href="/learn_abc"><img class="rotate-right" src="Img/readABC.PNG"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="view col-12 col-s-12">
        <div class="col-s-12 col-10 items row">
            <div class="col-s-12 col-6">
                <div class="col-11 background_color_pink">
                    <div class="col-11 ">
                        <a href="/animal"><img class="rotate-left" src="Img/animal.jpg"></a>
                    </div>
                </div>
            </div>
            <div class="col-s-12 col-6">
                <div class="col-11 background_color_yellow">
                    <div class="col-11 ">
                        <a href="/calculate"><img class="rotate-right" src="Img/math.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="view col-12 col-s-12">
        <div class="col-s-12 col-10 items row">
            <div class="col-s-12 col-6">
                <div class="col-11 background_color_orange">
                    <div class="col-11 ">
                        <a href="/vegetable"><img class="rotate-left" src="Img/vegetable.jpg"></a>
                    </div>
                </div>
            </div>
            <div class="col-s-12 col-6">
                <div class="background_color_blue col-11">
                    <div class="col-11 ">
                        <a href="/color"><img class="rotate-right" src="Img/color.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="view col-12 col-s-12">
        <div class="col-s-12 col-10 items row">
            <div class="col-s-12 col-6">
                <div class="col-11 background_color_Brown">
                    <div class="col-11 ">
                        <a href="week_and_month"><img class="rotate-left" src="Img/dayandweek.jpg"></a>
                    </div>
                </div>
            </div>
            <div class="col-s-12 col-6">
                <div class="background_color_sky_blue col-11">
                    <div class="col-11 ">
                        <a href="/minigame"><img class="rotate-right" src="Img/play-game.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer col-s-12 col-12">
    <div>
        <p>&copy;Copyright belongs to aptech 17-01-2021</p>
    </div>
    <img src="Img/img-footer.png">
</div>
<script src="Script/index.js"></script>
</body>
</html>