<div class="menutop width col-6 col-s-6">
    <div class="col-s-12 col-9">
        <ul class="col-12 col-s-12">
            <li class="col-4 col-s-4" style="font-family: 'Roboto Slab', serif"><a href="/parents"><i class="fa fa-users" aria-hidden="true"></i>Tutorial</a></li>
            <li class="col-4 col-s-4" style="font-family: 'Roboto Slab', serif"><a href="/contact"><i class="fa fa-phone-square" aria-hidden="true"></i> Contact</a>
            </li>
            <li class="col-4 col-s-4" style="font-family: 'Roboto Slab', serif"><a href="/packages"><i class="fa fa-calendar" aria-hidden="true"></i> packages</a></li>
        </ul>
    </div>
</div>